/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/* Обычный */

body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    color: #FFCBCB;
    background-image: url("../img/back_img.jpg");
    background-size: cover;
    text-transform: uppercase;
}

.header{
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 100%;
    background-color: #021526;
    padding: 10px 0;
    border-bottom: 2px solid #000 ;
}

.header_title{
    font-size: 1em;
    color: white;
    font-family: inherit;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.main{
    margin: auto auto;
    width: 50%;
    height: 100%;
    background: rgba(10, 34, 64, 0.8);
    backdrop-filter: blur(2px);
    text-align: center;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.main_wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.main_button{
    margin-bottom: 200px;
    max-width: 70%;
}

.button {
    color: #000;
    background-color: #6EACDA;
    font-size: inherit;
    width: 100%;
    height: 100px;
    border-radius: 100px;
    max-width: 400px;
    margin-bottom: 50px;
}

.button:hover{
    color: #fff;
}

.name_weapon{
    visibility: hidden;
    background-color: #000000;
}

